DirectoryIndex index.php index.html
Options -Indexes

<IfModule mod_headers.c>
  <Files "index.php">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </Files>
</IfModule>
